.pointer{
    cursor: pointer;
}

.navbar-inverse .navbar-nav>li>a{
    color: #ffffff !important;
}

.cart-size{
    font-size: 20px
}

.cart-value{
    font-size: x-large;
    font-weight: bold;
}

.items{
    padding: 10px 0px 9px 1px;
    margin: 0px !important;
}